{:has-let? false, :expr-depth 1, :functions-used #{+}, :duration-ms 1, :has-threading? false, :expr "(+ 2 3)", :result-type "class java.lang.Long", :error nil, :timestamp 1763225392737, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{sqrt}, :duration-ms 0, :has-threading? false, :expr "(sqrt 25)", :result-type "class java.lang.Double", :error nil, :timestamp 1763225392739, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{mean}, :duration-ms 0, :has-threading? false, :expr "(mean [1 2 3 4 5])", :result-type "class java.lang.Long", :error nil, :timestamp 1763225392739, :success? true}
{:has-let? false, :expr-depth 2, :functions-used #{* -> sqrt}, :duration-ms 0, :has-threading? true, :expr "(-> 100 sqrt (* 2))", :result-type "class java.lang.Double", :error nil, :timestamp 1763225392740, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{undefined-fn}, :duration-ms 0, :has-threading? false, :expr "(undefined-fn 1)", :result-type "error", :error "Unable to resolve symbol: undefined-fn", :timestamp 1763225392740, :success? false}
{:has-let? false, :expr-depth 1, :functions-used #{+}, :duration-ms 4, :has-threading? false, :expr "(+ 2 3)", :result-type "class java.lang.Long", :error nil, :timestamp 1763225776938, :success? true}
{:has-let? false, :expr-depth 2, :functions-used #{* +}, :duration-ms 0, :has-threading? false, :expr "(+ 2 (* 3 4))", :result-type "class java.lang.Long", :error nil, :timestamp 1763225777121, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{/}, :duration-ms 0, :has-threading? false, :expr "(/ 10 3)", :result-type "class clojure.lang.Ratio", :error nil, :timestamp 1763225777300, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{/}, :duration-ms 0, :has-threading? false, :expr "(/ 10.0 3.0)", :result-type "class java.lang.Double", :error nil, :timestamp 1763225777473, :success? true}
{:has-let? false, :expr-depth 4, :functions-used #{* - / +}, :duration-ms 0, :has-threading? false, :expr "(/ (- (* (+ 2 3) 4) 6) 2)", :result-type "class java.lang.Long", :error nil, :timestamp 1763225777642, :success? true}
{:has-let? false, :expr-depth 3, :functions-used #{* sqrt +}, :duration-ms 1, :has-threading? false, :expr "(sqrt (+ (* 3 3) (* 4 4)))", :result-type "class java.lang.Double", :error nil, :timestamp 1763225777813, :success? true}
{:has-let? false, :expr-depth 2, :functions-used #{pi *}, :duration-ms 0, :has-threading? false, :expr "(* pi (* 5 5))", :result-type "class java.lang.Double", :error nil, :timestamp 1763225777988, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{sind}, :duration-ms 0, :has-threading? false, :expr "(sind 30)", :result-type "class java.lang.Double", :error nil, :timestamp 1763225778197, :success? true}
{:has-let? false, :expr-depth 2, :functions-used #{* tand}, :duration-ms 0, :has-threading? false, :expr "(* 10 (tand 30))", :result-type "class java.lang.Double", :error nil, :timestamp 1763225778365, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{mean}, :duration-ms 0, :has-threading? false, :expr "(mean [1 2 3 4 5])", :result-type "class java.lang.Long", :error nil, :timestamp 1763225778530, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{median}, :duration-ms 0, :has-threading? false, :expr "(median [1 3 5 7 9])", :result-type "class java.lang.Long", :error nil, :timestamp 1763225778735, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{median}, :duration-ms 0, :has-threading? false, :expr "(median [1 2 3 4])", :result-type "class clojure.lang.Ratio", :error nil, :timestamp 1763225778910, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{stdev}, :duration-ms 0, :has-threading? false, :expr "(stdev [2 4 4 4 5 5 7 9])", :result-type "class java.lang.Double", :error nil, :timestamp 1763225779082, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{sum}, :duration-ms 0, :has-threading? false, :expr "(sum [10 20 30 40 50])", :result-type "class java.lang.Long", :error nil, :timestamp 1763225779255, :success? true}
{:has-let? true, :expr-depth 4, :functions-used #{p r * let n pow +}, :duration-ms 1, :has-threading? false, :expr "(let [p 10000 r 0.05 n 10] (* p (pow (+ 1 r) n)))", :result-type "class java.lang.Double", :error nil, :timestamp 1763225779430, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{*}, :duration-ms 1, :has-threading? false, :expr "(* 200 0.15)", :result-type "class java.lang.Double", :error nil, :timestamp 1763225779600, :success? true}
{:has-let? false, :expr-depth 3, :functions-used #{* / +}, :duration-ms 0, :has-threading? false, :expr "(/ (+ 1000 (* 1000 0.12)) 12)", :result-type "class java.lang.Double", :error nil, :timestamp 1763225779772, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{dot}, :duration-ms 0, :has-threading? false, :expr "(dot [1 2 3] [4 5 6])", :result-type "class java.lang.Long", :error nil, :timestamp 1763225779939, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{norm}, :duration-ms 0, :has-threading? false, :expr "(norm [3 4])", :result-type "class java.lang.Double", :error nil, :timestamp 1763225780115, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{cross}, :duration-ms 0, :has-threading? false, :expr "(cross [1 0 0] [0 1 0])", :result-type "class clojure.lang.PersistentVector", :error nil, :timestamp 1763225780289, :success? true}
{:has-let? false, :expr-depth 2, :functions-used #{* -> sqrt +}, :duration-ms 0, :has-threading? true, :expr "(-> 100 sqrt (* 2) (+ 5))", :result-type "class java.lang.Double", :error nil, :timestamp 1763225780457, :success? true}
{:has-let? true, :expr-depth 4, :functions-used #{a * let sqrt + b}, :duration-ms 0, :has-threading? false, :expr "(let [a 3 b 4] (sqrt (+ (* a a) (* b b))))", :result-type "class java.lang.Double", :error nil, :timestamp 1763225780622, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{abs}, :duration-ms 1, :has-threading? false, :expr "(abs -5)", :result-type "class java.lang.Double", :error nil, :timestamp 1763225780796, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{/}, :duration-ms 1, :has-threading? false, :expr "(/ 1.0 0.0)", :result-type "error", :error "Divide by zero", :timestamp 1763225780966, :success? false}
{:has-let? false, :expr-depth 1, :functions-used #{pow}, :duration-ms 0, :has-threading? false, :expr "(pow 2 100)", :result-type "class java.lang.Double", :error nil, :timestamp 1763225781136, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{+}, :duration-ms 0, :has-threading? false, :expr "(+ 0.1 0.2)", :result-type "class java.lang.Double", :error nil, :timestamp 1763225781305, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{undefined-fn}, :duration-ms 0, :has-threading? false, :expr "(undefined-fn 1)", :result-type "error", :error "Unable to resolve symbol: undefined-fn", :timestamp 1763225781470, :success? false}
{:has-let? false, :expr-depth 3, :functions-used #{* / +}, :duration-ms 1, :has-threading? false, :expr "(+ (* 100 (/ 9 5)) 32)", :result-type "class clojure.lang.BigInt", :error nil, :timestamp 1763225781648, :success? true}
{:has-let? false, :expr-depth 2, :functions-used #{* /}, :duration-ms 0, :has-threading? false, :expr "(/ (* 100 1000) 3600)", :result-type "class clojure.lang.Ratio", :error nil, :timestamp 1763225781812, :success? true}
{:has-let? false, :expr-depth 2, :functions-used #{pi * pow /}, :duration-ms 0, :has-threading? false, :expr "(* (/ 4 3) pi (pow 3 3))", :result-type "class java.lang.Double", :error nil, :timestamp 1763225781985, :success? true}
